configuration {
	modes: "drun,run,window,filebrowser,ssh";
    show-icons: false;
    display-run: " ";
    display-drun: " ";
	display-window: " ";
	display-ssh: " ";
	display-filebrowser: " ";
	display-keys: " ";
	display-script: "󰑷 ";
	display-combi: "";
    disable-history: false;
}

entry {
	placeholder: "";
}

@import "theme"
