* {
	font-size: 14px;
	font-family: "FiraCode Nerd Font", "Fira Code", monospace;
}

button {
	border: none;
	box-shadow: none;
	background: transparent;
}
button:hover {
	border: none;
	box-shadow: none;
	background: transparent;
}

window#waybar {
	color: white;
	background: transparent;
	/* background-color: rgba(40, 42, 54, 1); */
	margin: 10px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#workspaces,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	padding: 0 10px;
	background-color: rgba(40, 42, 54, 1);
}

#workspaces {
	padding: 0;
}

#workspaces button {
	color: white;
	padding: 8px 10px 3px 10px;
	border-radius: 0;
	border-bottom: 2px solid transparent;
}

#workspaces button:hover {
	background-color: black;
}

#workspaces button.focused {
	border-bottom: 2px solid white;
}
