* {
	font-size: 12px;
	font-family: "Fira Code";
	font-weight: bold;
}

window#waybar {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 10px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
	padding: 0 10px;
}
